
@import "../node_modules/bootstrap/scss/bootstrap";

/* Small helper so fixed navbar doesn't cover page content */
body {
	padding-top: 70px; /* adjust if you change navbar height */
}

/* You can add additional global styles here */
// Then import Bootstrap